.rectangulo_t {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px gray;

}

.rectangulo_t2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 40px;
    background-color:#0a53be;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px gray;
}

.rectangulo_t3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color:#0a53be;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 200px;
    box-shadow: 2px 2px 2px 2px gray;
}
.rectangulo_t4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color:#ffffff;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #000000;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px gray;
}


.container{
    justify-content: center;
    display: flex;
    align-items: center;
}

.container_nav {
    width: 150px;
    height: 350px;
    background-color: #a0cfee;
    border-radius: 10px;
    text-align: center;
    color: #000000;
    margin-top: 100px;
    margin-left: 50px;
    box-shadow: 2px 2px 2px 2px gray;

}
.recorte{
    display: flex;
}
.menus1{
    margin-top: 50px;
}

.iconos{
    margin-top: 22px;
    margin-right: 10px;
}

.table{
    width: 100%;
    text-align: center;
}
.th,td {
    padding: 10px;
}

.celda_mala{
    background-color: #da8e8e;
}
.celda_regular{
    background-color: #eeb28e;
}
.celda_buena{
    background-color: #e7df90;
}
.celda_muyBuena{
    background-color: #a2d992;
}
.celda_excelente{
    background-color: #81b2cc;
}

.celda_mala2{
    background-color: #f30606;
}
.celda_regular2{
    background-color: #f86106;
}
.celda_buena2{
    background-color: #f5de03;
}
.celda_muyBuena2{
    background-color: #3bee07;
}
.celda_excelente2{
    background-color: #049eef;
}
